<template>
	<div class="container">
		<el-row type="flex" justify="center" style="margin:20px auto;width:960px;">
			<el-col :span="24">
				<template>
                    <el-form ref="imgListForm" :model ="imgListForm" label-width="180px">
                        <el-card>
                            <el-row>
                                <el-col :md="12">
                                    <el-upload
                                        action=""
                                        list-type="picture-card"
                                        :file-list="fileList[0]"
                                        :http-request="httpRequest0"
                                        :on-preview="handleFilePreview"
                                        :on-remove="removeFile0">
                                        <i class="el-icon-plus uploader-icon"></i>
                                    </el-upload>
                                </el-col>
                            </el-row>
                            <el-dialog :visible.sync="dialogVisible" size="tiny">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </el-card>
                        <el-card>
                            <el-input v-model="img_url" placeholder="图片|文件访问地址"></el-input>
                        </el-card>
                    </el-form>
				</template>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	var cos;
	export default {
		data () {
			return {
                img_url: '',
                cosObj: {
                    sign: '',
                    appid: '',
                    bucket: '',
                    region: ''
                },
                fileList: [[]],
                dialogImageUrl: '',
                dialogVisible: false,
                imgListForm:{
                	step:7,
                	img_list: [
                        {
                            title: '企业证照',
                            key: 'certificate',
                            link: []
                        },
                    ],
                },
				tabIndex: 7,
			}
		},
		created () {
            this.getCos()
        },
		methods:{
		    // 上传文件相关
            getCos () {
                var my = this
                this.$jsonp('https://file.fengrongwang.com/cos/get_sign.jsonp', null, function (err, data) {
                    if (err) {
                        my.$message.error(err.message)
                    } else {
                        my.cosObj.sign = data.sign
                        my.cosObj.appid = data.appid
                        my.cosObj.bucket = data.bucket
                        my.cosObj.region = data.region

                        cos = new CosCloud({
                            appid: my.cosObj.appid,
                            bucket: my.cosObj.bucket,
                            region: my.cosObj.region,
                            getAppSign: function (callback) {
                                callback(my.cosObj.sign);
                            }
                        });
                    }
                })
            },
            getNewName (file) {
                var name = '/cosimgs/';
                // 随机文件名
                //var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
                //var maxPos = $chars.length;

                //for (var i = 0; i < 12; i++) {
                //    name += $chars.charAt(Math.floor(Math.random() * maxPos));
                //}

                // 处理后缀名
                //var arr = file.name.split(".")
                //var postfix = arr[arr.length - 1]
                //name += '.' + postfix

                return name += file.name;
            },
		    httpRequest (file, index) {
	            var my = this
	            cos.uploadFile(function (result) {
	                // successCallBack
	                // 显示上传后的图片
	                var relativeUrl = result.data.source_url.split('cossh.myqcloud.com')[1]
	                var viewUrl= 'https://oss.fengrongwang.com'+relativeUrl
	                my.fileList[index].push({
	                    url: viewUrl
	                })
	                // 添加到列表中
	                my.imgListForm.img_list[index].link.push({
	                    url: relativeUrl
	                })
                    my.img_url = viewUrl
	            }, function (result) {
	                // errorCallBack
	                result = result || {};
	                my.$message.error(result.responseText || 'error')
	            }, function (curr) {
	                // progressCallBack
	            }, this.cosObj.bucket, this.getNewName(file.file), file.file, 0);
	        },
	        handleFilePreview(file) {
	        	var typeNameList = file.url.split('.')
                var typename = typeNameList[typeNameList.length-1]

                if (typename=='jpeg' || typename=='jpg' || typename=='png'){
                	this.dialogImageUrl = file.url;
	            	this.dialogVisible = true;
                }else{
                	window.open(file.url);
	            	this.dialogVisible = false;
                }

	        },
	        removeFile (file, index) {
	        	var removeUrl = file.url.split('https://oss.fengrongwang.com')[1]
	            for (var i = 0; i < this.imgListForm.img_list[index].link.length; i++) {
	                if (this.imgListForm.img_list[index].link[i].url == removeUrl) {
	                    this.imgListForm.img_list[index].link.splice(i, 1);
	                }
	                if (this.fileList[index][i].url == file.url) {
	                    this.fileList[index].splice(i, 1);
	                }
	            }
	        },

	  		// 每个上传项目都需要一对儿方法
	        httpRequest0 (file) {
                this.httpRequest(file, 0)
            },
            removeFile0 (file) {
                this.removeFile(file, 0)
            },
		    fileCurUrl(url) {
            	var curUrl = 'https://oss.fengrongwang.com'+url
                var typeNameList = url.split('.')
                var typename = typeNameList[typeNameList.length-1]

                if (typename=='jpeg' || typename=='jpg' || typename=='png'){

                	this.dialogImageUrl = curUrl;
	            	this.dialogVisibleReturn = true;
                }else{
                	window.open(curUrl);
	            	this.dialogVisibleReturn = false;
                }
            },
            getUrl(url){
            	var curUrl = 'https://oss.fengrongwang.com'+url
            	return curUrl
            },
		},
		deactivated () {
    		this.$destroy(true)
  		}
	}
</script>
