@charset "UTF-8";
.uploadImg {
  float: left;
  margin: 5px; }

.img-inputer {
  position: relative;
  display: block;
  background: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  zoom: 1; }

.img-inputer .img-inputer__label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.img-inputer .img-inputer-pic {
  font-style: normal; }

.img-inputer .img-inputer-tit {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: 14px;
  top: 62%;
  color: #aaa;
  width: 100%; }

.img-inputer .upload-pic {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

#xFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: Alpha(opacity=100); }

/* 进度条 */
.progress-bar .pro-bar-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 14px;
  border: 1px solid #1afa29;
  display: inline-block; }

.progress-bar .pro-bar {
  background: #1afa29;
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 15px; }

.vip-fade .vip-enter-active, .vip-fade-leave-active {
  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: trnsform; }

.vip-fade-enter, .vip-fade-leave-active {
  opacity: 0;
  transform: translateX(30%); }

.img-inputer-err {
  font-size: 14px;
  color: #f00;
  text-align: center; }

.imgWrap {
  margin: 5px; }

.imgWrap .imgBox {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px; }

.imgWrap .imgBox .delate-shadow {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.imgWrap .imgBox img {
  display: block; }

.imgWrap .imgBox .delate {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.imgBox:hover .delate-shadow {
  display: block; }

/*# sourceMappingURL=main.css.map */
