<template>
  <div id="app">
	  <el-col :span="24">
          <transition name="fade" mode="out-in">
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
          </transition>
	  </el-col>
  </div>
</template>

<script>
export default {
    name: 'app',
    data () {
        return {
            activeIndex:'',
            showHeader:false,
            menuList: [],
            lastMenu: []
        }
    },
    methods:{

    },
    created () {

    },
    watch:{

    }
}
</script>
